<!-- Bottom Navigation Bar, will hold predefined analyses -->
<footer class="bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <form method="post">
          <button class="nav-link btn btn-secondary d-inline-flex align-items-center me-4 mr-2" type="submit" name="analyses" id="analyses_1" value="delta_flight_times">Delta Flight Times</button>
          <button class="nav-link btn btn-secondary d-inline-flex align-items-center me-4 mr-2" type="submit" name="analyses" id="analyses_1" value="JFK_flight_time">JFK Flight Times</button>
        </form>
      </div>
    </div>
</footer>
