<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <header class="header-global">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DSCI-551 Semester Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-5">
              <a class="nav-link btn btn-secondary d-inline-flex align-items-center me-4" href="https://github.com/SeanmanX/DSCI551_Project" >
                <img src="../static/img/icon/Octicons-mark-github.svg" class="mr-2">
                GitHub
              </a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link btn btn-secondary d-inline-flex align-items-center me-4" href="https://drive.google.com/drive/folders/1EfandyvsezAN3agj5ktAxAHptVijSPs0?usp=sharing" >
                <img src="../static/img/icon/Google_Drive_icon_(2020).svg" class="mr-2">
              Google Drive
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="section-header overflow-hidden pt-7 pt-lg-8 pb-9 pb-lg-12 bg-secondary text-white">
      <div class="container">
          <div class="column">
              <div class="col-12 text-center">
                  <div class="d-flex align-items-center justify-content-center my-5">
                      <a href="/firebase.html" class="btn btn-dark d-inline-flex align-items-center me-4">
                        <img src="../static/img/icon/google-firebase.svg" class="mr-2">
                          Firebase Implementation
                      </a>
                      <a href="/mysql.html" class="btn btn-dark d-inline-flex align-items-center me-4 mx-5">
                        <img src="../static/img/icon/mysql-icon.svg" class="mr-2">
                          SQL Implementation
                      </a>                                  
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <footer class="bg-light text-center text-lg-start">
      <div class="container p-4">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase" align="left">Project Members</h5>
            <p align="left">Sean Dougher - dougher@usc.edu - 2301300058</p>
            <p align="left">Akhil Kolluru - akolluru@usc.edu - 9352617023</p>
            <p align="left">Ludan Zhang - ludanzha@usc.edu - 4771624911</p>
            <!-- <p align="left">Student Name - Student Email - Student Number</p> -->
            <!-- <p align="left">Student Name - Student Email - Student Number</p> -->
            <!-- <p align="left">Student Name - Student Email - Student Number</p> -->
        </div>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <img src="../static/img/icon/USC_Viterbi_School_of_Engineering_logo.svg" class="mr-2">
      </div>
    </footer>

  </body>
</html>